body{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-weight: 800;
}
    /*font-family: 'Balsamiq Sans', cursive;*/
.hero-seccion{
text-align: center;
width: auto;
height: auto;
background-color:#DDDDDD;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.centrado{
    position: absolute;
    top: 10px;
    left: 10px;
}
@media (min-width: 992px) { 
    h1.centrado{
        font-family: 'Balsamiq Sans', cursive;
        font-weight: bold;
        font-size: 50pt;
        
    }
}